@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

<div class="container d-flex justify-content-center align-items-center min-vh-100">
    <div class="register-box shadow rounded p-4">
        <h3 class="text-center fw-bold mb-4">Register</h3>
        <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">            
            <div class="mb-3">
                <label asp-for="Input.HoTen" class="form-label">Full Name</label>
                <input type="text"
                       class="form-control"
                       asp-for="Input.HoTen"
                       placeholder="Enter your full name"
                       />
                <span asp-validation-for="Input.HoTen" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Input.Email">Email</label>
                <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Input.Role">Chọn Vai Trò</label>
                <select asp-for="Input.Role" asp-items="Model.Roles" class="form-control">
                    <option value="">-- Chọn vai trò --</option>
                </select>
                <span asp-validation-for="Input.Role" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="Input.Password">Password</label>
                <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password" />
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Input.ConfirmPassword">Confirm Password</label>
                <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password" />
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>

            @if (!ViewData.ModelState.IsValid)
            {
                <div class="alert alert-danger">
                    <ul>
                        @foreach (var error in ViewData.ModelState.Values.SelectMany(v => v.Errors))
                        {
                            <li>@error.ErrorMessage</li>
                        }
                    </ul>
                </div>
            }

            <div>
                <button id="registerSubmit" type="submit" class="btn btn-primary w-100">Register</button>
            </div>
        </form>
        <div class="text-center mt-3">
            Already have an account?
            <a class="signIn-link text-decoration-none" asp-area="Identity" asp-page="/Account/Login">Login</a>
        </div>
    </div>
</div>


@* <div class="row">
    <div class="col-md-4">
        <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <h2>Create a new account.</h2>
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                <label asp-for="Input.Email">Email</label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password" />
                <label asp-for="Input.Password">Password</label>
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password" />
                <label asp-for="Input.ConfirmPassword">Confirm Password</label>
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-primary">Register</button>
        </form>
    </div>
    <div class="col-md-6 col-md-offset-2">
        <section>
            <h3>Use another service to register.</h3>
            <hr />
            @{
                if ((Model.ExternalLogins?.Count ?? 0) == 0)
                {
                    <div>
                        <p>
                            There are no external authentication services configured. See this <a href="https://go.microsoft.com/fwlink/?LinkID=532715">article
                            about setting up this ASP.NET application to support logging in via external services</a>.
                        </p>
                    </div>
                }
                else
                {
                    <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                        <div>
                            <p>
                                @foreach (var provider in Model.ExternalLogins!)
                                {
                                    <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                                }
                            </p>
                        </div>
                    </form>
                }
            }
        </section>
    </div>
</div>
 *@
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
