@model RiskChance.Models.HopDongDauTu

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>HopDongDauTu</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AnhXacNhan)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AnhXacNhan)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NgayKyKet)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NgayKyKet)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TongTien)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TongTien)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PhanTramLoiNhuan)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PhanTramLoiNhuan)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NoiDungHopDong)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NoiDungHopDong)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TrangThai)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TrangThai)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Startup)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Startup.IDNguoiDung)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NguoiDung)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NguoiDung.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IDHopDong">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
