@model List<RiskChance.Models.DanhGiaStartup>;

<style>
    .point {
        color: var(--star);
    }
</style>


    @if (Model != null && Model.Any())
    {
        @foreach (var com in Model)
        {
            <div class="d-flex align-items-start mb-3 p-3 rounded border shadow-sm">
                <!-- Avatar -->
                <img src="@(com.NguoiDung != null && !string.IsNullOrEmpty(com.NguoiDung.AvatarUrl)
                                                 ? com.NguoiDung.AvatarUrl
                                                 : Url.Content("~/assets/user/image.png"))"
                     alt="User Avatar"
                     class="rounded-circle me-3"
                     width="50" height="50" />

                <div>
                    <div class="d-flex algin-center">
                        <h6 class="fw-bold mb-1">@com.NguoiDung?.HoTen</h6>
                        @for (int i = 0; i < @com.DiemDanhGia; i++)
                        {
                            <i class="fa-solid fa-star point"></i>
                        }
                    </div>

                    <!-- Nội dung bình luận -->
                    <p class="mb-1">@com.NhanXet</p>

                    <!-- Ngày giờ bình luận -->
                    <small class="text-muted">@com.NgayDanhGia.ToString("dd/MM/yyyy HH:mm")</small>
                </div>
            </div>
        }

    }
    else
    {
        <p class="text-muted">Chưa có bình luận nào.</p>
    }
