@model RiskChance.Models.ViewModel.StartupViewModel.DetailOfStartupViewModel;

@{
    double progress;

    if (Model.AmountInvested > 0 && Model.Target > 0)
    {
        progress = Math.Round((double)Model.AmountInvested / (double)Model.Target * 100, 2);
    }
    else
    {
        progress = 0;
    }

    ViewData["Title"] = @Model.Name;
}

@section Styles {
    <style>
        .rating-start-edit {
            font-size: 32px;
            color: #ccc;
            cursor: pointer;
            transition: color 0.3s;
        }

            .rating-start-edit.selected {
                color: var(--star);
            }
    </style>
}


<div class="mt-4 container">
    <div class="row">
        <!-- Ảnh sản phẩm -->
        <div class="name-logo-box col-md-3 d-flex flex-column align-items-center text-center">
            <img src="@(Model.LogoUrl ?? "../assets/logo startup/bnb_crypto_icon_264371.ico")"
                 id="startupLogo"
                 class="img-fluid rounded"
                 alt="Logo Startup" />
            <h4 class="h4 fw-bold">@Model.Name</h4>
        </div>

        <!-- Thông tin startup --> 
        <div class="col-md-9">
            <p><span class="fw-bold">Business:</span> @Model.Business</p>
            <p class="fw-bold">Description:</p>
            <p class="p-2 text-justify">
                @Model.Description
            </p>
            <p><span class="fw-bold">Target:</span> @Model.Target?.ToString("N0") VNĐ</p>
            <p><span class="fw-bold">Percentage of shares:</span> @(Model.PercentOfCompany)%</p>
            <div class="target-box mb-3">
                <p><span class="fw-bold">Amount Invented:</span> @Model.AmountInvested?.ToString("N0") VNĐ</p>
                <div class="progress mt-2" style="height: 20px">
                    <div class="progress-bar" style="width: @(progress)%">
                        <p class="fw-bold">@(progress)%</p>
                    </div>
                </div>
            </div>
            <!-- Nut -->
            <div class="d-flex justify-content-center align-items-center">
                <button data-bs-toggle="modal"
                        data-bs-target="#messengerModal"
                        class="btn btn-primary fw-bold"
                        id="contactBtn"
                        data-id="@Model.FounderId"
                        style="margin-right: 10px">
                    Contact
                </button>
                <a asp-area="Investor"
                   asp-controller="HopDong" 
                    asp-action="Create" 
                    asp-route-idStartup="@Model.IDStartup"
                    class="btn btn-success fw-bold text-white">
                   Invest
               </a>
            </div>
        </div>
    </div>

    <!-- Danh sách giấy tờ pháp lý -->
    <h3 class="h3 fw-bold mt-4">List of Documents</h3>
    <div id="legalDocs" class="mt-3 mb-3 container mx-auto">
        <section class="row g-2">
            @foreach (var doc in Model.DocumentList)
            {
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-body">
                            <div class="doc-info">
                                <h4 class="h4 card-title mb-1 fw-bold">@doc.TenGiayTo</h4>
                                <p class="card-text text-muted">
                                    @doc.LoaiFile
                                </p>
                                <p class="card-text text-muted">
                                    @doc.NoiDung
                                </p>
                                <p class="card-text text-muted">
                                    @doc.NgayTao.ToString("dd/MM/yyyy HH:mm")
                                </p>
                            </div>
                            <div class="download-btn mt-3 d-flex justify-content-end">

                                <a href="@doc.FileGiayTo"
                                   class="btn btn-primary fw-bold text-white"
                                   target="_blank">
                                    Download
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </section>
    </div>

    <!-- Binh luan -->
    <h3 class="h3 fw-bold mt-4">Comments</h3>
    <div id="commentSection" class="row mt-3 mb-3">
        <!-- Khu vực nhập bình luận -->
        <div class="col-md-6 p-3">
            @await Component.InvokeAsync("CommentStartup", Model.IDStartup)
        </div>

        <!-- Khu vực hiển thị bình luận -->
        <div
             class="p-3 bg-light mt-3 col-md-6 p-3 rounded border shadow-sm"
             style="max-height: 500px; overflow-y: auto">

            <section id="commentsList" class="mb-3">
                @await Component.InvokeAsync("CommentEachStartup", Model.IDStartup)
            </section>

        </div>
    </div>
</div>


@section Scripts {
    <script src="~/js/DetailStartup.js"></script>
}