@{
    ViewData["Title"] = "Details";

    string GetStatusText(TrangThaiKyKetEnum status)
    {
        if (status == TrangThaiKyKetEnum.DaDuyet) return "Success";
        if (status == TrangThaiKyKetEnum.DaGui) return "Update";
        return "Deny";
    }
}

@section Styles {
    <link rel="stylesheet" href="~/css/contact.css" asp-append-version="true" />

    <style>
        strong{
            font-weight: bold;
        }
    </style>
}

@model RiskChance.Models.HopDongDauTu

@if(TempData["Message"] != null)
{
    <div id="message-alert" class="mt-3 alert alert-success alert-dismissible fade show" role="alert">
        @TempData["Message"]
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}

<div class="mt-4 mb-4 row container mx-auto">
    <!-- Hop dong -->
    <div class="contact-container col-lg-8 p-4 mx-auto">
        <h2 class="h2 fw-bold mb-3 text-center">Investment Contract</h2>
        <!-- Noi dung hop dong -->
        <div class="contact-info-box p-2">
            <!-- Tao noi dung -->
            <div class="contract-paper" id="contractDisplay">
                <h5 class="h5 fw-bold">ID Contract: #@Model.IDHopDong</h5>
                <p><strong>Date:</strong> @Model.NgayKyKet.ToString("dd/MM/yyyy")</p>
                <p><strong>Total Investment:</strong> @(Model.TongTien.HasValue ? Model.TongTien.Value.ToString("N0") + " VNĐ" : "Updating")</p>
                <p><strong>Percent of Profit:</strong> @(Model.PhanTramLoiNhuan.HasValue ? Model.PhanTramLoiNhuan.Value + "%" : "Updating")</p>
                <p><strong>Content:</strong> @Model.NoiDung</p>
                <p><strong>Status:</strong> @GetStatusText(Model.TrangThaiKyKet)</p>
                <p><strong>Payment: </strong>@(Model.ThanhToan == true ? "Paid" : "Unpaid")</p>

                @if (!string.IsNullOrEmpty(Model.FileUrl))
                {
                    <p><strong>File Contract:</strong> <a href="@Model.FileUrl" target="_blank">Watch/Download</a></p>
                }
                <hr>
                <div class="d-flex justify-content-around align-items-center">
                    <div>
                        <h6 class="fw-bold h6">Information Startup</h6>
                        <a asp-area="" asp-controller="Startup" asp-action="Details" asp-route-id="@Model.IDStartup">
                            <p><strong>Startup:</strong> @(Model.Startup != null ? Model.Startup.TenStartup : "None Information")</p>
                        </a>
                        <a>
                            <p><strong>Founder:</strong> @(Model.Startup != null ? Model.Startup.NguoiDung.HoTen : "None Information")</p>
                        </a>
                    </div>

                    <div>
                        <h6 class="fw-bold h6">Information Investment</h6>
                        <a>
                            <p><strong>Signatory:</strong> @(Model.NguoiDung != null ? Model.NguoiDung.HoTen : "None Information")</p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <!-- Nut chuc nang -->
        <div class="d-flex justify-content-around mt-4">
            @* Ky *@
            @if (Model.TrangThaiKyKet != TrangThaiKyKetEnum.DaDuyet && User.IsInRole("Founder"))
            {
                <button type="button" data-bs-toggle="modal" data-bs-target="#signModal"
                        class="btn btn-success fw-bold p-2 text-white">
                    Sign Confirmation
                </button>
            }
            @* Cap nhat *@
            <a asp-area="Investor" asp-controller="HopDong" asp-action="Edit" asp-route-id="@Model.IDHopDong"
               class="btn btn-warning fw-bold p-2 text-decoration-none text-white">
                Contact Update
            </a>
            @* Tu choi *@
            @if (Model.TrangThaiKyKet != TrangThaiKyKetEnum.BiTuChoi && User.IsInRole("Founder"))
            {
                <button type="button" data-bs-toggle="modal" data-bs-target="#denyModal"
                        class="btn btn-danger text-white fw-bold p-2 text-decoration-none">
                    Deny the Contract
                </button>
            }

             @* Xoa *@
            @if ((Model.TrangThaiKyKet == TrangThaiKyKetEnum.BiTuChoi || Model.TrangThaiKyKet == TrangThaiKyKetEnum.DaGui) && Model.ThanhToan == false)
            {
                <button type="button" onclick="confirmDelete('@Model.IDHopDong', '@Url.Action("Delete", "HopDong", new { area = "Investor" })')"
                        class="btn btn-danger text-white fw-bold p-2 text-decoration-none">
                    Delete Contract
                </button>
            }

            @* Quay lai dashboard *@
            @if (User.IsInRole("Founder"))
            {
                <a asp-area="Founder" asp-controller="Dashboard" asp-action="Index" asp-route-id="@Model.IDStartup"
                   class="btn btn-secondary text-white d-flex align-items-center justify-content-center"
                   style="width: 50px; height: 50px; border-radius: 8px;">
                    <i class="fa-solid fa-backward"></i>
                </a>
            }
            else if (User.IsInRole("Investor"))
            {
                <a asp-area="Investor" asp-controller="Dashboard" asp-action="Index"
                   class="btn btn-secondary text-white d-flex align-items-center justify-content-center"
                   style="width: 50px; height: 50px; border-radius: 8px;">
                    <i class="fa-solid fa-backward"></i>
                </a>
            }
           
        </div>
    </div>
    <!-- Chuc nang phu -->
    <div class="col-lg-4 mx-auto">
        @* Cac nay co the phat trien them  *@
        @if (User.IsInRole("Investor") && Model.ThanhToan == false && Model.TrangThaiKyKet == TrangThaiKyKetEnum.DaDuyet)
        {
            <form asp-area="Investor" asp-controller="HopDong" asp-action="ThanhToan" method="post" enctype="multipart/form-data">
                <input type="hidden" asp-for="@Model.IDHopDong">
                <div class="mb-3">
                    <label asp-for="MinhChungThanhToan" class="form-label">Payment receipt</label>
                    <input asp-for="MinhChungThanhToan" type="file" class="form-control" accept="image/*"/>
                    <span asp-validation-for="MinhChungThanhToan" class="text-danger"></span>
                </div>
                <button type="submit" class="btn btn-primary w-100 mt-3">
                    <i class="fa-solid fa-credit-card"></i> Pay Contract
                </button>
            </form>
        }

        @if (User.IsInRole("Founder") && Model.ThanhToan == true)
        {
            @await Html.PartialAsync("~/Areas/Founder/Views/PayProfit/Create.cshtml", new ThanhToanLoiNhuan { IDHopDong = Model.IDHopDong })
        }
    </div>
</div>

@* Modal sign confirm *@
<div class="modal fade" id="signModal" tabindex="-1" aria-labelledby="signModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="signModalLabel">Sign Confirm Contract</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form asp-area="Investor" asp-controller="HopDong" asp-action="SignConfirm" method="post" enctype="multipart/form-data">
                    <input asp-for="IDHopDong" type="hidden">
                    <div class="mb-3">
                        <label asp-for="FileUrl" class="form-label">File Contact</label>
                        <input asp-for="FileUrl" type="file" class="form-control" id="fileUrlInput" accept=".pdf, .doc, .docx" />
                        <span asp-validation-for="FileUrl" class="text-danger"></span>
                    </div>
                    <button class="btn btn-success">Upload</button>
                </form>
            </div>
        </div>
    </div>
</div>

@* Deny Contract *@
<div class="modal fade" id="denyModal" tabindex="-1" aria-labelledby="denyModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="denyModalLabel">Deny Confirm Contract</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to deny this contract?</p>

                <div class="d-flex mt-2 justify-content-around align-items-center">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>

                    <form asp-area="Investor" asp-controller="HopDong" asp-action="DenyContract" method="post">
                        <input name="id" type="hidden" value="@Model.IDHopDong">
                        <button class="btn btn-danger text-white fw-bold p-2 text-decoration-none">
                            <i class="fa-solid fa-ban"></i> Deny
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>