<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - RiskChance</title>

    <!-- Favicon -->
    <link rel="shortcut icon" href="~/assets/home/logo.png" type="image/x-icon">

    <!-- Icon -->
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
          integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg=="
          crossorigin="anonymous"
          referrerpolicy="no-referrer" />

    <!-- Boostrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
          rel="stylesheet" />

    <!-- Jquery -->
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <link rel="stylesheet" href="~/RiskChance.styles.css" asp-append-version="true" />

    <!-- Custom fonts for this template -->
    <link href="~/assets/Admin/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="~/assets/Admin/css/sb-admin-2.min.css" rel="stylesheet">

    @* SignalR *@
    @* <script src="https://cdn.jsdelivr.net/npm/@@microsoft/signalr@latest/dist/browser/signalr.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/5.0.11/signalr.min.js"></script> *@
    <script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/8.0.7/signalr.js" integrity="sha512-FzakzcmrNSXS5+DuuYSO6+5DcUZ417Na0vH1oAIo49mMBA8rHSgkKSjE2ALFOxdQ/kPqF3HZRzb0HQ+AvwXttg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <style>
        /* Sidebar */
        .sidebar {
            background: linear-gradient(135deg, #4a90e2, #2766c6);
            padding: 20px 0;
        }

            .sidebar .nav-item {
                transition: 0.3s ease;
            }

                /* Mục menu khi được chọn */
                .sidebar .nav-item.active {
                    background: rgba(255, 255, 255, 0.2);
                    border-radius: 5px;
                }

                /* Làm mờ các mục khác */
                .sidebar .nav-item:not(.active) {
                    opacity: 0.5;
                }

                .sidebar .nav-item:hover {
                    opacity: 1;
                }
    </style>

    @RenderSection("Styles", required: false)
</head>
<body>
    <div id="wrapper">
        <ul class="navbar-nav sidebar sidebar-dark accordion" id="accordionSidebar">
            <li class="nav-item">
                <a class="sidebar-brand d-flex align-items-center justify-content-center" asp-area="Admins" asp-controller="Dashboard" asp-action="Index">
                    <div class="sidebar-brand-icon rotate-n-15">
                        <i class="fas fa-laugh-wink"></i>
                    </div>
                    <div class="sidebar-brand-text mx-3">Admin Panel</div>
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">
                    <img src="~/assets/home/logo.png" width="20" height="20" class="rounded-circle" />
                    <span> Home</span>
                </a>
            </li>

            <li class="nav-item @(ViewBag.ActiveFeature == "dashboard" ? "active" : "")">
                <a class="nav-link" asp-area="Admins" asp-controller="Dashboard" asp-action="Index">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>Dashboard</span>
                </a>
            </li>

            <li class="nav-item @(ViewBag.ActiveFeature == "manageStartup" ? "active" : "")">
                <a class="nav-link menu-link" asp-area="Admins" asp-controller="ManagerStartup" asp-action="Index">
                    <i class="fas fa-fw fa-newspaper"></i>
                    <span>Manager Startups</span>
                </a>
            </li>

            <li class="nav-item @(ViewBag.ActiveFeature == "manageNews" ? "active" : "")">
                <a class="nav-link menu-link" asp-area="Admins" asp-controller="ManagerNews" asp-action="Index">
                    <i class="fas fa-fw fa-file-alt"></i>
                    <span>Manager News</span>
                </a>
            </li>

            <li class="nav-item @(ViewBag.ActiveFeature == "manageBusiness" ? "active" : "")">
                <a class="nav-link menu-link" asp-area="Admins" asp-controller="LinhVucs" asp-action="Index">
                    <i class="fas fa-fw fa-list"></i>
                    <span>Manage Businesses</span>
                </a>
            </li>

            <li class="nav-item @(ViewBag.ActiveFeature == "hashtagManage" ? "active" : "")">
                <a class="nav-link menu-link" asp-area="Admins" asp-controller="Hashtags" asp-action="Index">
                    <i class="fas fa-fw fa-hashtag"></i>
                    <span>Manage Hashtags</span>
                </a>
            </li>

            <li class="nav-item">
                <hr class="sidebar-divider d-none d-md-block">
            </li>
        </ul>


        <main role="main" id="content-wrapper" class="d-flex flex-column">
            @RenderBody()
        </main>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)

    @await Html.PartialAsync("~/Views/Shared/_DeleteConfirmPopUp.cshtml")
    <script src="~/js/CallConfirmBox.js" asp-append-version="true"></script>

    <script src="~/Assets/admin/vendor/jquery/jquery.min.js"></script>
    <script src="~/Assets/admin/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="~/Assets/admin/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="~/Assets/admin/js/sb-admin-2.min.js"></script>
</body>
</html>
