@model RiskChance.Models.GiayTo

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>GiayTo</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FileGiayTo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FileGiayTo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LoaiFile)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LoaiFile)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NoiDung)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NoiDung)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NgayTao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NgayTao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TenGiayTo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TenGiayTo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Startup)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Startup.IDNguoiDung)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IDGiayTo">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
